<ion-view title="Intelligent Schedule Planner" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="intelligentSchedulePlanner-button-bar3" class="button-bar">
      <a ui-sref="myStory" id="intelligentSchedulePlanner-button18" style="font-size:15px;border-radius:0px 0px 0px 0px;" class="button button-dark  button-block button-outline">My Story</a>
      <a ui-sref="personalChatAssistant" id="intelligentSchedulePlanner-button19" style="font-size:15px;" class="button button-dark  button-block button-outline">Chat</a>
      <button id="intelligentSchedulePlanner-button20" style="font-size:15px;" class="button button-dark  button-block">Schedule</button>
    </div>
    <button id="intelligentSchedulePlanner-button14" class="button button-dark  button-block">Add an activity</button>
    <ion-list id="intelligentSchedulePlanner-list3">
      <ion-item class="item-icon-left" id="intelligentSchedulePlanner-list-item28" href="tel:3528881397">
        <i class="icon ion-ios-alarm-outline"></i>Talk to Amie at 4 PM
        <ion-option-button class="button-dark">Finish</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="intelligentSchedulePlanner-list-item32" href="mailto:abhimanu29@ufl.edu">
        <i class="icon ion-ios-alarm-outline"></i>Take Medicines
        <ion-option-button class="button-dark">Finish</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>