<ion-view title="My Story" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="myStory-button-bar1" class="button-bar">
      <button id="myStory-button5" style="font-size:15px;" class="button button-dark  button-block">My Story</button>
      <a ui-sref="personalChatAssistant" id="myStory-button6" style="font-size:15px;" class="button button-dark  button-block button-outline">Chat</a>
      <a ui-sref="intelligentSchedulePlanner" id="myStory-button7" style="font-size:15px;" class="button button-dark  button-block button-outline">Schedule</a>
    </div>
    <div class="list card" id="myStory-card21">
      <ion-item id="myStory-list-item3">About You
        <span class="item-note">Your Story of the Day</span>
      </ion-item>
      <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/d2zwVoEF3yk?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="myStory-video1">
        <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
      <div class="item item-body" id="myStory-list-item-container2">
        <div id="myStory-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>James, this is your story</strong>.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="myStory-card23">
      <form id="myStory-form2" class="list">
        <label class="item item-input" id="myStory-input3">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Where you live">
        </label>
      </form>
      <ion-item id="myStory-list-item9" class="read-only">Address</ion-item>
    </div>
    <div class="list card" id="myStory-card22">
      <form id="myStory-form4" class="list">
        <label class="item item-input" id="myStory-input7">
          <span class="input-label">Age</span>
          <input type="text" placeholder="Age">
        </label>
      </form>
      <ion-item id="myStory-list-item10" class="read-only">Age</ion-item>
    </div>
    <div class="list card" id="myStory-card24">
      <form id="myStory-form5" class="list">
        <label class="item item-input" id="myStory-input8">
          <span class="input-label">Hobbies</span>
          <input type="text" placeholder="Your Interests">
        </label>
      </form>
      <ion-item id="myStory-list-item11" class="read-only">Hobbies</ion-item>
    </div>
    <div class="list card" id="myStory-card25">
      <form id="myStory-form6" class="list">
        <label class="item item-input" id="myStory-input9">
          <span class="input-label">Wife's Name</span>
          <input type="text" placeholder="Name">
        </label>
      </form>
      <ion-item id="myStory-list-item12" class="read-only">Wife's Name</ion-item>
    </div>
    <div class="list card" id="myStory-card26">
      <form id="myStory-form7" class="list">
        <label class="item item-input" id="myStory-input10">
          <span class="input-label">Favourite Songs</span>
          <input type="text" placeholder="songs">
        </label>
      </form>
      <ion-item id="myStory-list-item13" class="read-only">Songs</ion-item>
    </div>
    <div class="list card" id="myStory-card27">
      <form id="myStory-form8" class="list">
        <label class="item item-input" id="myStory-input11">
          <span class="input-label">Favourite Sport Team</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <ion-item id="myStory-list-item14" class="read-only">Sport Teams</ion-item>
    </div>
    <div class="list card" id="myStory-card28">
      <form id="myStory-form9" class="list">
        <label class="item item-input" id="myStory-input12">
          <span class="input-label">Favourite Rock Bands</span>
          <input type="text" placeholder="Age">
        </label>
      </form>
      <ion-item id="myStory-list-item15" class="read-only">Favourite Rock Bands</ion-item>
    </div>
    <div class="list card" id="myStory-card29">
      <form id="myStory-form10" class="list">
        <label class="item item-input" id="myStory-input13">
          <span class="input-label">Favourite Sports</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <ion-item id="myStory-list-item16" class="read-only">Favourite Sport</ion-item>
    </div>
    <div class="list card" id="myStory-card210">
      <form id="myStory-form11" class="list">
        <label class="item item-input" id="myStory-input14">
          <span class="input-label">Countries Visited</span>
          <input type="text" placeholder="countries">
        </label>
      </form>
      <ion-item id="myStory-list-item17" class="read-only">Countries Visited</ion-item>
    </div>
    <div class="list card" id="myStory-card211">
      <form id="myStory-form12" class="list">
        <label class="item item-input" id="myStory-input15">
          <span class="input-label">Favourite Food</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <ion-item id="myStory-list-item18" class="read-only">Favourite Food</ion-item>
    </div>
    <div class="list card" id="myStory-card212">
      <form id="myStory-form13" class="list">
        <label class="item item-input" id="myStory-input16">
          <span class="input-label">What kind of Pet you have</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <ion-item id="myStory-list-item19" class="read-only">Pet Type</ion-item>
    </div>
    <div class="list card" id="myStory-card213">
      <form id="myStory-form14" class="list">
        <label class="item item-input" id="myStory-input17">
          <span class="input-label">What is your Pet's name</span>
          <input type="text" placeholder="">
        </label>
      </form>
      <ion-item id="myStory-list-item20" class="read-only">Pet Type</ion-item>
    </div>
    <div class="list card" id="myStory-card214">
      <ion-item id="myStory-list-item23">Life Partner
        <span class="item-note">Your Beautiful Wife Lilly</span>
      </ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="myStory-slider2" style="width:100%;height:200px;">
        <ion-slide-page id="myStory-slide27" style="background:url(&quot;img/zRJa4k3jTkSmmvAerzfY_2746082005_9e764550cd_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="myStory-slide28" style="background:url(&quot;img/jY6TbCTGQv2CvfdNMXJf_2640130542_a634909482_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="myStory-slide29" style="background:url(&quot;img/TLIfyBuR1eOXlkkqeoIG_2746910480_ecda765e54_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <ion-item class="item-icon-left assertive" id="myStory-list-item24">
        <i class="icon ion-music-note"></i>Listen to her</ion-item>
      <div class="list card" id="myStory-card215">
        <ion-item id="myStory-list-item27">Kids
          <span class="item-note">Your daughter Lucy </span>
        </ion-item>
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="myStory-slider3" style="width:100%;height:200px;">
          <ion-slide-page id="myStory-slide213" style="background:url(&quot;img/y65yMSrrTBu4dwXLtvVT_2746457240_4a97bbe57b_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="myStory-slide214" style="background:url(&quot;img/2rC9ezrYQJCwvDKPbNvS_2746896162_f15ba8c0f5_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        </ion-slides>
        <ion-item class="item-icon-left assertive" id="myStory-list-item29">
          <i class="icon ion-music-note"></i>Listen to her</ion-item>
      </div>
      <div class="list card" id="myStory-card216">
        <ion-item id="myStory-list-item33" ui-sref="page">Grand Children
          <span class="item-note">You have 2 beautiful grand daughters</span>
        </ion-item>
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="myStory-slider5" style="width:100%;height:200px;">
          <ion-slide-page id="myStory-slide222" style="background:url(&quot;img/haePbZQRHayzmzyhC6Gw_2746863250_432545a1d5_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="myStory-slide223" style="background:url(&quot;img/3G2jJv6TTGGnRJ3zeXha_406938211_5066bad61f_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="myStory-slide224" style="background:url(&quot;img/2GIEkGIQmZbDh7t5ckXQ_2747400516_45170dcfc6_z.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        </ion-slides>
        <ion-item class="item-icon-left assertive" id="myStory-list-item34">
          <i class="icon ion-music-note"></i>Play Song</ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>